.slider{
    text-align: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-box{
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.top-hero{
    background-image: url(assets/img/slider-bg.jpeg);
    background-position: center;
    background-size: cover;

}

#slider-title{
    color: white;
    font-family: Roboto;
    font-weight: 400;
}



.background-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px    ;
}

#column-1{
    background-image: url(/assets/img/slider-bg.jpeg);
    background-size: contain;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;

}